.card-comments img {
  width: 4rem; }

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
}

.img-logo {
  max-height: 32px;
}

.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
  transition: .35s;
}