---
layout: layouts/home.njk
title: Quantitative trading on blockchain
description: Tools, bots and datasets for building decentralised trading strategies
---


<!--Section: Jumbotron-->
<section class="card-home card wow fadeIn card-jumbo">

  <!-- Content -->
  <div class="card-body jumbo-bg-image py-5 px-5 my-5">

    <div class="container">
      <h1 class="mb-4">
        <strong>Quantitative trading on blockchain and decentralised finance</strong>
      </h1>

      <p class="lead">
        Tools and datasets for building decentralised trading strategies
      </p>
    </div>

    {#
    <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-lg">
      Find out more
      <i class="fas fa-graduation-cap ml-2"></i>
    </a>
    #}

  </div>
  <!-- Content -->
</section>
<!--Section: Jumbotron-->

<section class="card-deck-home container">
    <div class="card-deck mb-3">
      <!--Card-->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">

          <img src="{{ '/static/img/software.jpg'|url }}" class="card-img-top" alt="">

          <a href="{{ '/investor-software-as-a-service/'|url }}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">On-chain quantitative finance</h4>
          <!--Text-->
          <p class="card-text">
            Automatise your trading on decentralised exchanges.
          </p>
          <a href="https://docs.capitalgram.com"
            class="btn btn-primary btn-md">Read documentation
            <i class="fas fa-chevron-right ml-2"></i>
          </a>
        </div>
      </div>
      <!--/.Card-->

      <!--Card-->
      {#
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img src="{{ '/static/img/advisory.jpg'|url }}" class="card-img-top" alt="">
          <a href="{{ '/fintech-consulting/'|url }}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">Consulting</h4>
          <p class="card-text">
            Are you building or investing in a tech company? We have a proven track record in successful tech businesses and can help you.
          </p>

          <a href="/fintech-consulting/"
            class="btn btn-primary btn-md">Learn how we can help
            <i class="fas fa-chevron-right ml-2"></i>
          </a>
        </div>
      </div>
      #}

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img src="{{ '/static/img/blog.jpg'|url }}" class="card-img-top" alt="">
          <a href="{{ '/blog/'|url }}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Blog</h4>
          <!--Text-->
          <p class="card-text">
          Read our insights on DeFi projects and investing.
          </p>
          <a href="{{ '/blog/'|url}}" class="btn btn-primary btn-md">Read blog
            <i class="fas fa-chevron-right ml-2"></i>
          </a>
        </div>
      </div>


    </div>
</section>


{#
<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
#}
