---
layout: layouts/home.njk
---


<!--Section: Jumbotron-->
<section class="card wow fadeIn" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

  <!-- Content -->
  <div class="card-body text-white text-center py-5 px-5 my-5">

    <h1 class="mb-4">
      <strong>Building services for smarter and sustainable investing</strong>
    </h1>
    <p>
      <strong>Best & free guide of responsive web design</strong>
    </p>
    <p class="mb-4">
      <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written
        versions available. Create your own, stunning website.</strong>
    </p>
    <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">Start
      free tutorial
      <i class="fas fa-graduation-cap ml-2"></i>
    </a>

  </div>
  <!-- Content -->
</section>
<!--Section: Jumbotron-->

<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
