{# Now just one hardcoded author #}

<div class="card card-about-the-author">
    <h4 class="card-header">
        About the author
    </h4>
    <div class="card-body">

        <img class="img-fluid z-depth-1 float-left" src="{{ '/static/img/portrait-mikko-ohtamaa.jpg'|url }}" alt="Mikko Ohtamaa">

        <h5 class="card-title">Mikko Ohtamaa</h5>
        
        <div class="card-text">

            <p>Mikko Ohtamaa is the CTO of Capitalgram. He has been working with fintech and blockchain companies since 2013. 
            He has helped several companies to bootstrap and now focuses on building smarter capital markets.</p>

            <p>
                <a href="/about/">Read full bio</a> ・
                <a href="https://www.linkedin.com/in/ohtis/">
                    <em class="fab fa-linkedin">
                        <!-- -->
                    </em>
                    LinkedIn</a>・<a href="http://twitter.com/moo9000">
                    <em class="fab fa-twitter">
                        <!-- -->
                    </em>
                    Twitter</a>
            </p>

        </div>
    </div>
</div>
<!-- Card -->