<div class="card card-comments">

  <h4 class="card-header">Comments</h5>
    <div class="card-body text-center">
        Send any feedback and comments by <a href="{{ twitterDiscussionLink }}">replying the Twitter thread</a>.

        <div class="twitter-embed" data-link="{{ twitterDiscussionLink }}"></div>
        <br>
        <a class="btn btn-primary" href="{{ twitterDiscussionLink }}">Discuss</a>
    </div>
</div>
