<footer class="page-footer wow fadeIn">

    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <h4>Business</h4>

                <ul>
                    <li>
                        <a href="https://docs.capitalgram.com">DeFi quantitative trading</a>
                    </li>
                    <li>
                        <a href="{{ '/blog/'|url }}">Blog</a>
                    </li>
                    <li>
                        <a href="{{ '/about/'|url }}">About</a>
                    </li>
                </ul>

            </div>

            <div class="col-md-3">
                <h4>Follow us</h4>

                <ul>
                    {#
                    <li>
                        <a href="https://linkedin.com/in/ohtis">
                            <i class="fab fa-fw fa-linkedin"></i>
                            LinkedIn</a>
                    </li>
                    #}
                    <li>
                        <a href="http://newsletter.capitalgram.com">
                            <i class="fas fa-fw fa-envelope"></i>
                            Newsletter</a>
                    </li>

                    <li>
                        <a href="https://twitter.com/moo9000">
                            <i class="fab fa-fw fa-twitter"></i>
                            Twitter</a>
                    </li>
                    <li>
                        <a href="{{ '/feed/feed.xml'|url }}">
                            <i class="fas fa-fw fa-rss"></i>
                            RSS</a>
                    </li>

                    {#
                    <li>
                        <a href="https://github.com/miohtama/capitalgram">
                            <i class="fab fa-fw fa-github"></i>
                            Github</a>
                    </li>
                    #}

                </ul>
            </div>

            <div class="col-md-3">
                <!-- -->
            </div>

            <div class="col-md-3">
                <h4>Contact us</h4>

                <p>
                    <a class="mailto" href="mailto:info@capitalgram.com">info@capitalgram.com</a>
                </p>

                <p>Gibraltar</p>

            </div>

        </div>
    </div>
</footer>
