{# AJAX form to handle the newsletter subscripton #}
<form class="form-newsletter" data-ajax-action="{{ '/api/newsletter'|url }}">
    <div class="md-form my-0">
        <a class="btn btn-primary" href="http://newsletter.capitalgram.com">
          Subcribe to newsletter</a>
    </div>
</form>
