{% for post in postslist | reverse %}

  <div class="card card-post-list">
  
    {% if post.data.header %}
      <!--Card image-->
      <div class="view overlay">
        <img src="{{ post.data.header|bgimage }}" class="card-img-top {{ post.data.postListImageClass }}" alt="">
        <a>
          <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>
      <!--/.Card image-->
    {% else %}
      <div class="card-post-list-img-missing"></div>
    {% endif %}

    <!--Card content-->
    <div class="card-body mx-4">
      <!--Title-->
      <a href="{{ post.url }}">
        <h4 class="card-title">
          {{ post.data.title }}
        </h4>
      </a>  
      <hr>

      <p class="post-list-byline">
        By <strong>{{ post.data.author }}</strong> on 

        <strong>
          <time class="post-date" datetime="{{ date | htmlDateString }}">
            {{ post.data.date | readableDate }}
          </time>
        </strong>  
      </p>

      <!--Text-->
      <p class="dark-grey-text mb-3">
        {{ post.data.longDescription or post.data.description }}
      </p>
      
      <p></p>

      <p class="text-right">
        <a class="btn btn-link btn-read-post" href="{{ post.url }}">
          Read post
          <i class="fas fa-chevron-right" aria-hidden="true"></i>
        </a>
      </p>
    </div>
    <!--/.Card content-->

  </div>

{% endfor %}