<section class="blog-content">

    <div class="main-content ">

        <div class="card">
            <div class="card-body">
                <div class="post-byline text-right">

                    <span class="font-small grey-text mb-1">
                        <strong>Author:</strong>
                        {{ author }}
                    </span>

                    <span class="font-small grey-text mb-0 ml-3">
                        <i class="far fa-clock-o dark-grey-text"></i>
                        <time class="post-date" datetime="{{ date | htmlDateString }}">
                            {{ date | readableDate }}
                        </time>
                    </span>
                </div>

                <div class="body-text">
                    {{ content | safe }}
                </div>
            </div>
        </div>

    </div>

    {% if twitterDiscussionLink %}
        {% include "partials/discussion.njk" %}
    {% endif %}

    <div class="about-author">
        {% include "partials/author.njk" %}
    </div>

</section>