{# All JS we share across pages #}

<!-- JQuery -->
<script type="text/javascript" src="{{ '/static/js/jquery-3.4.1.min.js'|url }}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ '/static/js/popper.min.js'|url }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ '/static/js/bootstrap.min.js'|url }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ '/static/js/mdb.min.js'|url }}"></script>

<!-- Newsletter subscriber -->
<script type="text/javascript" src="{{ '/static/js/newsletter.js'|url }}"></script>

<script type="text/javascript" src="{{ '/static/js/toc.js'|url }}"></script>

<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();

</script>

<script type="text/javascript">
  // Generate table of contents, e.g. What is a security article
  // https://github.com/afeld/bootstrap-toc/
  // have <ol id="tol"></ol> in view source
  (function($) {
    $(document).ready(function() {
      var $nav = $("#toc");
      Toc.init($nav);
      //$("#toc").toc({content: ".body-text", headings: "h2,h3"});
    });
  })(jQuery);
</script>

<script type="text/javascript">
  // Convert Twitter discussion embedes to actual tweets
  // See discussion.njk
  (function($) {
    $(document).ready(function() {
      var $embeds = $(".twitter-embed");

      $embeds.each(function() {

        var tag = $(this);
        var link = tag.attr("data-link");

        // https://stackoverflow.com/questions/18194878/display-the-last-part-of-url-javascript
        var segmentArray = link.split( '/' );
        var tweetId = segmentArray.pop();

        // https://stackoverflow.com/q/13798473/315168
        // https://developer.twitter.com/en/docs/twitter-for-websites/moments/guides/oembed-api
        /*
        $.getJSON("https://api.twitter.com/1/statuses/oembed.json?id=" + tweetId + "&align=center&chrome=nofooter&callback=?", function(data) {
          tag.html(data.html);
        });*/

        // JSONP callback because of CORS issues
        // https://stackoverflow.com/a/10872804/315168
        var target = "https://publish.twitter.com/oembed?chrome=nofooter+noheader&url=" + encodeURI(link) + "&callback=?";
        $.getJSON(target, function(data) {
          console.log(target);
          tag.html(data.html);
        });

      });
    });
  })(jQuery);

</script>


<script type="text/javascript">
  window.linkPreviewApiKey = "bd22cffb759c85d6c343dbda7730f9a8";
</script>

<script type="text/javascript" src="{{ '/static/js/preview.js'|url }}"></script>