<div class="sidebar">

    <div class="card card-follow">

        <h5 class="card-header">
            About us
        </h5>

        <div class="card-body">

            <p>
                Capitalgram is a DeFi advisory company.
            </p>

            <p>
                In our blog, we write about DeFi protocol development and investing.
            </p>

            <p>
                <strong>Follow us:</strong>
            </p>

            <p>
                <ul>
                    <li><a href="https://linkedin.com/in/ohtis"><i class="fab fa-fw fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/moo9000"><i class="fab fa-fw fa-twitter"></i></a></li>
                    <li><a href="{{ '/feed/feed.xml'|url }}"><i class="fas fa-fw fa-rss"></i></a></li>
                </ul>
            </p>
        </div>

    </div>


    <div class="card card-subscribe pb-0">

        <h5 class="card-header">
            Newsletter
        </h5>

        <div class="card-body">

            <p>
                Get monthly articles on investing, DeFi and blockchain technology development delivered to your email.
            </p>

            {% include "partials/newsletter-sidebar.njk" %}
        </div>

    </div>

    <div class="card card-latest-posts pb-0">

        <h5 class="card-header">
            Latest posts
        </h5>

        <div class="card-body">
            <ul class="latest-posts-list">
                {%- for post in collections.posts|reverse|head(3) -%}
                    <a href="{{ post.url }}" class="latest-posts-item">
                        <li>
                            <div class="latest-posts-title">{{ post.data.title }}</span>
                            <div class="latest-posts-date"> {{ post.data.date | readableDate }}</span>
                        </li>
                    </a>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</div>