{# 
    Information for Facebook, Twitter, LinkedIn and other social sharing.

    Reads src/config/social.js
#}

{# Generic HTML <head> data #}
{% set page_title=title %}
{% set page_description=description %}

{% set page_organization_name=social.general.site_name %}
{% set page_organization_logo=social.general.default_logo|url %}
{% set page_organization_logo_width=social.general.default_logo_width %}
{% set page_organization_logo_height=social.general.default_logo_width %}

{# 

  Facebook 
  
#}
{% set page_facebook_app_id=social.facebook_app_id %}
{% set page_facebook_name=social.facebook.name %}

{# Per page OpenGraph type override #}
{% set page_facebook_type=facebook_type or social.facebook.type %}
{% set page_facebook_name=social.facebook.name %}

{#
  Resolving which image is going to be visible
#} 

{% if not page_logo %}
  {# Use global settings #}
  {% set page_facebook_image=social.facebook.logo %}
  {% set page_facebook_image_width=social.facebook.logo_width %}
  {% set page_facebook_image_height=social.facebook.logo_height %}

  {% set page_twitter_image=social.logo %}

{% else %}
  {# Use page settings #}
  {% set page_facebook_image=page_logo %}
  {% set page_facebook_image_width=page_logo_width %}
  {% set page_facebook_image_height=page_logo_height %}
  {% set page_twitter_image=page_logo %}
{% endif %}




{# Use page specific logo or default to our logo #}
{% set page_logo=page_logo or social.general.default_logo %}
{% set page_logo_width=page_logo_width or social.general.default_logo_width %}
{% set page_logo_height=page_logo_height or social.general.default_logo_height %}

{# Use page specific logo or default to our logo #}
{% set page_logo=page_logo|default(default_logo) %}
{% set page_logo_width=512 %}
{% set page_logo_height=512 %}

{% set page_twitter_site=social.twitter.siteHandle %}

{# For Google articles - logo and name are required fields #}
{% set page_google_organisation_name=social.google.organisation_name %}
{% set page_google_site_image=social.google.site_logo %}
{% set page_google_site_image_width=social.google.site_logo_width %}
{% set page_google_site_image_height=social.google.site_logo_height %}


{# HTML metadata for Google, Facebook and Twitter #}
<title>{{ page_title }}</title>
<meta name="description" content="{{ page_description }}">

{% include "partials/social_media_header_facebook.njk" %}
{% include "partials/social_media_header_twitter.njk" %}
{% include "partials/social_media_header_google.njk" %}