<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    
    <!-- Font Awesome -->
    {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"> #}
    <script src="https://kit.fontawesome.com/d71689699d.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{{ '/static/css/bootstrap.min.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/mdb.css' | url }}">
    <link rel="stylesheet" href="{{ '/static/css/style.css' | url }}">

    {# Given on page paramters #}
    {% if extraCSS %}
      <link rel="stylesheet" href="{{ extraCSS | url }}">
    {% endif %}

    {% include "partials/favicon.njk" %}
  
    {# RSS feed inegration #}
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

  </head>
  <body>

      <!--Main Navigation-->
      <header>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light white scrolling-navbar">
          <div class="container">

            <!-- Brand -->
            <a class="navbar-brand waves-effect" href="{{ '/'|url }}">
              <img class="img-logo" src="{{ '/static/img/capitalgram-logo-3.png' | url }}" alt="Capitalgram">
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <!-- Left -->
              <ul class="navbar-nav mr-auto">
                {%- for entry in collections.all | eleventyNavigation %}
                  <li class="nav-item {% if entry.url == page.url %} nav-item-active active{% endif %}">
                    <a class="nav-link waves-effect" href="{{ entry.url | url }}">{{ entry.title }}</a>
                  </li>
                {%- endfor %}
              </ul>

              <!-- Right -->
              <ul class="navbar-nav nav-flex-icons">
              
                <li class="nav-item">
                  <a href="https://linkedin/in/ohtis" class="nav-link waves-effect" target="_blank">
                    <i class="fab fa-linkedin"></i>                    
                  </a>
                </li>

                <li class="nav-item">
                  <a href="https://twitter.com/moo9000" class="nav-link waves-effect" target="_blank">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>

            </div>

          </div>
        </nav>
        <!-- Navbar -->

      </header>
      <!--Main Navigation-->
    
    <main {% if templateClass %} class="{{ templateClass }} mt-5 pt-5"{% endif %}>
      {{ content | safe }}
      {# 
      <div class="warning">
        <ol>
          <li>Edit the <code>_data/metadata.json</code> with your blog’s information.</li>
          <li>(Optional) Edit <code>.eleventy.js</code> with your <a href="https://www.11ty.dev/docs/config/">configuration preferences</a>.</li>
          <li>Delete this message from <code>_includes/layouts/base.njk</code>.</li>
        </ol>
        <p><em>This is an <a href="https://www.11ty.io/">Eleventy project</a> created from the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
      </div>
      #}
      <div class="container">
      </div>
    </main>

    {% include "partials/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->

    <!-- JQuery -->
    <script type="text/javascript" src="{{ '/static/js/jquery-3.4.1.min.js'|url }}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ '/static/js/popper.min.js'|url }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ '/static/js/bootstrap.min.js'|url }}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ '/static/js/mdb.min.js'|url }}"></script>

    <!-- Newsletter subscriber -->
    <script type="text/javascript" src="{{ '/static/js/newsletter.js'|url }}"></script>

    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();

    </script>

  </body>
</html>
