---
layout: layouts/base.njk
templateClass: tmpl-blog-roll
extraCSS: /static/css/blog.css
---

  <section class="section-header-image wow fadeIn">
    <div class="header-image-wrapper header-image-mode-cover-image header-image-mode-inverse-heading" style="background-image: url(/static/img/blog-cover.jpg)">

      <div class="header-text text-center">
        <div class="container">
          
          <h1 class="mb-4">
            Capitalgram blog
          </h1>

          <p class="lead">
            Investment, finance and technology development insights.
          </p>
        </div>  
      </div>
    </div>
  </section>

<section class="content">
  <div class="container">

    <div class="row mt-5 pt-3">
      <div class="col-lg-8 col-12 mt-1 mx-lg-4">
        {{ content | safe }}
      </div>

      <div class="col-lg-3 col-12 mt-1">
        {% include "partials/sidebar.njk" %}
      </div>
    </div>
    
  </div>
</section>  
