---
layout: layouts/blogroll.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 98
description: Analyse on technology, alternative investing opportunities and blockchain space. 
title: Insight in alternative investment and blockchain
---

{% set postslist = collections.posts %}
{% include "partials/post_list.njk" %}
