

.main-content a {
  font-weight: bold;
}

.post-byline {
  margin-bottom: 1rem;
}

.header-image-wrapper {
}


.header-image-wrapper.header-image-missing {
  background: white;
  margin-bottom: 3rem;
}

.header-image-wrapper .header-text {
  padding: 3rem;
}

.header-image-wrapper .header-text .lead {
  background: white;
  color: #b68300;
  display: inline-block;
  padding: 0.5rem;
  font-weight: 500;
}

.card-about-the-author {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card-about-the-author img {
  margin-right: 1rem;
  max-width: 128px;
}

.card-about-the-author a {
  color: #b68300;
  font-weight: bold;
}

/*
 * Content text
 */

.body-text {
  font-size: 1.125rem;
}

.body-text p {
  line-height: 1.8;
  margin-bottom: 2rem;
}

.body-text a {
  color: #b68300;
  text-decoration: none;  
  font-weight: bold;
  transition: 0.3s;
}

.body-text a:hover {
  text-decoration: underline;  
  color: #eeb302;
}

.body-text li {
  margin-bottom: 1.33rem;
}

.body-text .twitter-tweet {
  margin: 0 auto; /* Twitter JS forces inline style on element */
  padding: 60px 0;
}

.body-text h2 .direct-link {
  color: rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.body-text h2:hover .direct-link {
  color: rgba(238, 179,2, 0.8);
}


/**
 * Table of contents
 */

#toc {
  background: #fee;
  padding: 20px;
  margin: 20px 0;
} 

#toc ul {
  list-style: disc;
  list-style-type: "▸";
  padding-left: 20px;
}

#toc li {
  margin-bottom: 0;
  padding-left: 10px;
}

/**
 * Markdown generated blockquotes
 */


.body-text blockquote {
  padding: 0.5rem 1rem;
  border-left: .25rem solid #eceeef; 
  font-style: italic;
  color: #888;
}

.body-text blockquote p {
    padding: 1rem 0;
    font-size: 1.1rem; } 


/*
 * Blog roll / post list
 */

.card-post-list {
  margin-bottom: 3rem;
}

.card-post-list a {
  color: black;e
}

.card-post-list-img-missing {
  height: 8px;
  background: #b68300;
}

.btn-read-post {
  padding-right: 0;
  margin-right: 0;
}

.post-list-byline {
  font-size: 80%;
  color: #616161; /* Material UI brown 50 */
}

/*
 * Sidebar
 */

 .sidebar .card {
   margin-bottom: 3rem;
 }

 .card-follow ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .card-follow li {
   display: inline-block;
 }

 .card-follow i {
  color: black;
  font-size: 24px;
}

.latest-posts-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.latest-posts-item {
  display: block;
  margin-bottom: 1rem;
  color: black; 
}

.latest-posts-date {
  color: #616161;
  font-size: 80%;
}


/* 
* Different ways of aligning header image 
*/


/* Background image too hard for dark text */
.header-image-mode-inverse-heading  h1 {
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.header-image-mode-contain-image {
  background-size: contain;
  min-height: 400px;
  margin-bottom: 3rem;
}

.header-image-mode-cover-image,
.header-image-mode-cover-image-black {
  background-size: cover;
  min-height: 400px;
  margin-bottom: 3rem;
}

.header-image-mode-cover-image-black h1 {
  color: white;
  text-shadow: 0 0 3px white;
}

.header-image-mode-cover-image-border {
  background-size: cover;
  background-origin: border-box;
  min-height: 400px;
  margin-bottom: 3rem;
}

.header-image-mode-transparent {
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  min-height: 400px;
  margin-bottom: 3rem;  
}

.header-image-mode-700 {
  min-height: 700px;
}

.header-image-text-white h1 {
  color: white;
  background:rgba(238,179,2, 0.66);
  font-weight: 700;
  font-size: 3.5rem;
  padding: 1rem;
  text-shadow: 0 0 2px rgba(0,0,0,0.8);
}

.post-list-image-cover {
  max-height: 150px;
  object-fit: cover;
}





@media (max-width: 767px) {
  .header-image-mode-contain-image {
    min-height: 200px;
  }
}


