{# AJAX form to handle the newsletter subscripton #}
<form class="form-newsletter" data-ajax-action="{{ '/api/newsletter'|url }}">
    <div class="md-form my-0">
        <div class="text-small status-success status-message" style="display: none">
            You are now subscribed.
        </div>

        <div class="alert alert-error status-error status-message" style="display: none">
            Something went wrong and subscription was not successful.               
        </div>

        <div class="input-group">
            <input class="form-control mr-sm-2" type="email" placeholder="Your email" aria-label="Email" name="email">
            <div class="input-group-addon"></div>
        </div>

        <button class="btn btn-outline btm-sm btn-block z-depth-0" type="button">
            <i class="fa fa-spinner fa-spin" style="display: none"></i>
            Subscribe
        </button>

    </div>
</form>