{% for post in postslist | reverse %}

  <div class="card card-post-list">

    {% if post.header %}
      <!--Card image-->
      <div class="view overlay">
        <img src="{{ post.header|bgimage }}" class="card-img-top" alt="">
        <a>
          <div class="mask rgba-white-slight waves-effect waves-light"></div>
        </a>
      </div>
      <!--/.Card image-->
    {% endif %}

    <!--Card content-->
    <div class="card-body mx-4">
      <!--Title-->
      <h4 class="card-title">
        {{ post.data.title }}
      </h4>
      <hr>

      <p class="post-list-byline">
        By <strong>{{ post.data.author }}</strong> on 

        <strong>
          <time class="post-date" datetime="{{ date | htmlDateString }}">
            {{ post.data.date | readableDate }}
          </time>
        </strong>  
      </p>

      <!--Text-->
      <p class="dark-grey-text mb-3">
        {{ post.data.longDescription or post.data.description }}
      </p>
      
      <p></p>

      <p class="text-right mb-0 text-uppercase dark-grey-text font-weight-bold">
        <a class="btn btn-primary btn-link">
          Read more
          <i class="fas fa-chevron-right" aria-hidden="true"></i>
        </a>
      </p>
    </div>
    <!--/.Card content-->

  </div>

{% endfor %}

<ol reversed="reversed" class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% for post in postslist | reverse %}
    <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <a href="{{ post.url | url }}" class="postlist-link">
        {% if post.data.title %}{{ post.data.title }}
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      {% for tag in post.data.tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    </li>
  {% endfor %}
</ol>