<div class="sidebar">


    <div class="card card-follow">

        <h4 class="card-header">
            Follow
        </h4>

        <div class="card-body">
            <p>
                <ul>
                    <li><a href="https://linkedin/in/ohtis"><i class="fab fa-fw fa-linkedin"></i></a></li>
                    <li><a href="https://twitter/moo9000"><i class="fab fa-fw fa-twitter"></i></a></li>
                    <li><a href="{{ '/feed/feed.xml'|url }}"><i class="fas fa-fw fa-rss"></i></a></li>
                </ul>
            </p>    
        </div>    

    </div>    


    <div class="card card-subscribe pb-0">

        <h4 class="card-header">
            Subscribe
        </h4>

        <div class="card-body">
 
            <h5>Notifications</h5>

            <hr>

            <h5>Newsletter</h5>
            <form class="md-form">

                <input class="form-control mr-sm-2" type="email" placeholder="Your email" aria-label="Email">
                <div class="input-group-addon">
                    <button class="btn btn-primary btn-block btm-sm z-depth-0">
                        Subscribe
                    </button>

                </form>

            </div>        
        </div>

    </div>    

    <div class="card card-latest-posts pb-0">

        <h4 class="card-header">
            Latest posts
        </h4>

        <div class="card-body">
            <ul class="latest-posts-list">
                {%- for post in collections.posts|reverse|head(3) -%}
                    <a href="{{ post.url }}" class="latest-posts-item">
                        <li>                        
                            <div class="latest-posts-title">{{ post.data.title }}</span>
                            <div class="latest-posts-date"> {{ post.data.date | readableDate }}</span>
                        </li>    
                    </a>                     
                {%- endfor -%}
            </ul>
        </div>
    </div>    
</div>    