<div class="card card-body pb-0">
    <div class="single-post">

        <p class="font-weight-bold dark-grey-text text-center spacing grey lighten-4 py-2 mb-4">
            <strong>NEWSLETTER</strong>
        </p>

        <!--Grid row-->
        <div class="row mt-4">
            <!--Grid column-->
            <div class="col-md-12">

                <div class="input-group md-form form-sm form-3 pl-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text white black-text" id="basic-addon9">@</span>
                    </div>
                    <input type="text" class="form-control mt-0 black-border rgba-white-strong" placeholder="Username" aria-describedby="basic-addon9">
                </div>

                <button type="button" class="btn btn-grey btn-block mb-4 mt-4 waves-effect waves-light">Sign up</button>

            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

    </div>
</div>