---
layout: layouts/blogroll.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 98
description: Analyse on technology, alternative investing opportunities and blockchain space. 
title: Insight in alternative investment and blockchain
---

<h1>Blog</h1>

<p class="lead">
  We analyse technology, alternative investing opportunities and blockchain space. Read our posts where to put your money.
</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
