---
layout: layouts/home.njk
---


<!--Section: Jumbotron-->
<section class="card wow fadeIn card-jumbo">

  <!-- Content -->
  <div class="card-body jumbo-bg-image py-5 px-5 my-5" style="background-image: {{ '/img/splash.jpg'|url }}">

    <div class="container">
      <h1 class="mb-4">
        <strong>Building smarter finance</strong>
      </h1>

      <p class="lead">
        Our insight on financial technology gives companies and investors an edge to success.
      </p>
    </div>  
  
    {#
    <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-lg">
      Find out more
      <i class="fas fa-graduation-cap ml-2"></i>
    </a>
    #}

  </div>
  <!-- Content -->
</section>
<!--Section: Jumbotron-->

<section class="card-deck-home container">
    <div class="card-deck mb-3">
      <!--Card-->
      <div class="card">
        <!--Card image-->
        <div class="view overlay">

          <img src="{{ '/img/software.jpg'|url }}" class="card-img-top" alt="">
          {#<img src="https://mdbootstrap.com/wp-content/uploads/2017/11/brandflow-tutorial-fb.jpg" class="card-img-top"
            alt="">#}

          <a href="{{ '/services'|url }}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Software powering capital</h4>
          <!--Text-->
          <p class="card-text">
            We engineer finance for success.            
            Capitalgram builds next generation online services for fundraising, investor relationships and corporate governance.
            </p>
          <a href="/services" target="_blank"
            class="btn btn-primary btn-md">Learn about services
            <i class="fas fa-play ml-2"></i>
          </a>
        </div>
      </div>
      <!--/.Card-->  

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img src="{{ '/img/advisory.jpg'|url }}" class="card-img-top" alt="">
          <a href="{{ '/services'|url }}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Advise on fintech</h4>
          <!--Text-->
          <p class="card-text">
            Need to understand how your company could utility the latest innovation in capital markets? 
            We have helped dozens of projects to make a blip on the fintech radar
            and get funded.
          </p>

          <a href="https://mdbootstrap.com/education/tech-marketing/automated-app-introduction/" target="_blank"
            class="btn btn-primary btn-md">Learn how we can help
            <i class="fas fa-play ml-2"></i>
          </a>
        </div>
      </div>
      
      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img src="{{ '/img/blog.jpg'|url }}" class="card-img-top" alt="">
          <a href="{{ '/blog'|url }}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Insight of future  </h4>
          <!--Text-->
          <p class="card-text">
            We analyse technology, alternative investing opportunities and blockchain space.
            Read our posts where to put your money.
          </p>
          <a href="{{ '/blog'|url}}" class="btn btn-primary btn-md">Read blog
            <i class="fas fa-play ml-2"></i>
          </a>
        </div>
      </div>
      

    </div>
</section>


{#
<h1>Latest 3 Posts</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
#}
