---
layout: layouts/base.njk
templateClass: tmpl-post
extraCSS: /css/blog.css
---

{# Run only if a header image has been specified #}
{% if header %}
  <section class="section-header-image wow fadeIn">
    <div class="header-image-wrapper {{ headerImageModeClass }}" style="background-image: url({{ header|bgimage }});{% if headerImageBackgroundColor %}backgrond-color: {{headerImageBackgroundColor}} {% endif %}">

      <div class="header-text text-center">
        <div class="container">
          
          <h1 class="mb-4">
            {{ title }}
          </h1>

          <p class="lead">
            {{ description }}
          </p>
        </div>  
      </div>
    </div>
  </section>
{% else %}  
  {# Plain boring background #}
  <section class="section-header-image wow fadeIn">
    <div class="header-image-wrapper header-image-missing {{ headerImageModeClass }}">

      <div class="header-text text-center">
        <div class="container">
          
          <h1 class="mb-4">
            {{ title }}
          </h1>

          <p class="lead">
            {{ description }}
          </p>
        </div>  
      </div>
    </div>
  </section>
{% endif %}


<section class="content">
  <div class="container">

    <div class="row mt-5 pt-3">
      <div class="col-lg-8 col-12 mt-1 mx-lg-4">
        {% include "partials/postcontent.njk" %}
      </div>

      <div class="col-lg-3 col-12 mt-1">
        {% include "partials/sidebar.njk" %}
      </div>
    </div>
  </div>
</section>  



