---
layout: layouts/base.njk
templateClass: tmpl-post
extraCSS: /css/blog.css
---

{# Run only if a header image has been specified #}
{% if header %}
  <section class="section-header-image wow fadeIn">

    {# Generate <picture> tags for gulpfile preprocessed images #}
    <div class="header-image-wrapper {{ headerImageModeClass }}" style="background-image: url({{ header|bgimage }});{% if headerImageBackgroundColor %}backgrond-color: {{headerImageBackgroundColor}} {% endif %}">

      <div class="header-text text-center">
        <div class="container">
          
          <h1 class="mb-4">
            {{ title }}
          </h1>

          <p class="lead">
            {{ description }}
          </p>
        </div>  
      </div>
    </div>

  </section>
{% endif %}  

<section class="blog-content">
  
    <div class="main-content ">
      <div class="container">
        <div class="card">
          <div class="card-body">
                <div class="post-byline text-right">

                  <span class="font-small dark-grey-text mb-1">
                      <strong>Author:</strong> Mikko Ohtamaa</span>
                  <span class="font-small grey-text mb-0 ml-3">
                      <i class="far fa-clock-o dark-grey-text"></i> 
                      <time class="post-date" datetime="{{ date | htmlDateString }}">
                        {{ date | readableDate }}
                      </time>
                  </span>                              
                </div>

                <div class="body-text">              
                  {{ content | safe }}
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>  


    <div class="about-author">
      <div class="container">
        {% include "author.html" %}
       </div> 
    </div>

    <div class="about-comments">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h4>Comments</h4>

            <a href="https://twitter.com/moo9000" class="btn  btn-primary">Send any feedback on Twitter</a>
          </div>
        </div> 
      </div>  
    </div>


  </div>
</section>  


